/*COLORES*/
/*REM CONTROL*/
@media screen and (min-width: 992px) {
  /* line 10, ../sass/estilo.scss */
  html {
    /*COL-LG*/
    font-size: 24px;
  }
}
@media screen and (max-width: 991px) {
  /* line 10, ../sass/estilo.scss */
  html {
    /*COL-MD*/
    font-size: 23px;
  }
}
@media screen and (max-width: 767px) {
  /* line 10, ../sass/estilo.scss */
  html {
    /*COL-SM*/
    font-size: 22px;
  }
}
@media screen and (max-width: 543px) {
  /* line 10, ../sass/estilo.scss */
  html {
    /*COL-XS*/
    font-size: 20px;
  }
}

/*TEXTOS*/
/* line 55, ../sass/estilo.scss */
h1 {
  color: #222222;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
}

/* line 64, ../sass/estilo.scss */
h2 {
  color: #545454;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 0.6rem;
  letter-spacing: 1px;
  line-height: 0.9rem;
  text-transform: uppercase;
}

/* line 75, ../sass/estilo.scss */
h3 {
  color: #222222;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 0.65rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* line 85, ../sass/estilo.scss */
h4 {
  color: #4f4f4f;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  display: inline-block;
}

/* line 94, ../sass/estilo.scss */
h5 {
  color: #222222;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.65rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
}

/* line 106, ../sass/estilo.scss */
p {
  color: #4f4f4f;
  font-family: 'Raleway', sans-serif;
  font-size: 0.59rem;
  font-weight: 400;
  line-height: 1rem;
  text-align: justify;
}

/*EFECTOS*/
/* line 130, ../sass/estilo.scss */
.activo {
  color: #F32A2A !important;
}

/*VARIOS*/
/* line 135, ../sass/estilo.scss */
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
/* line 137, ../sass/estilo.scss */
body ::selection {
  /*SELECCIONAR*/
  background-color: #F32A2A;
  color: #ffffff;
}

/* line 143, ../sass/estilo.scss */
html {
  height: 100%;
}

/* line 147, ../sass/estilo.scss */
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

/* line 152, ../sass/estilo.scss */
button {
  background-color: #F32A2A;
  color: #ffffff;
  border-radius: 0.2rem;
  border-style: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  box-shadow: inset 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-family: 'Carrois Gothic SC', sans-serif;
  font-size: 0.5rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
/* line 169, ../sass/estilo.scss */
button:hover {
  background-color: #545454;
}

/*REORDENAR COLUMNAS*/
@media (max-width: 991px) {
  /* line 178, ../sass/estilo.scss */
  .row.reorder-xs-sm {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    direction: rtl;
  }

  /* line 186, ../sass/estilo.scss */
  .row.reorder-xs-sm > [class*="col-"] {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    direction: ltr;
  }
}
/*PERMANENTES*/
/* line 197, ../sass/estilo.scss */
.contenedor {
  padding-top: 4rem;
  height: 100%;
}

/* line 202, ../sass/estilo.scss */
.llenar {
  height: 100%;
  width: 100%;
  height: 100%;
  min-height: 100%;
  color: #efefef;
  overflow: hidden;
}

/* line 211, ../sass/estilo.scss */
.barra_nav {
  background-color: rgba(255, 255, 255, 0.9);
  height: 4rem;
  width: 100%;
  z-index: 2;
  top: 0;
  position: fixed;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.18);
}
@media screen and (max-width: 766px) {
  /* line 211, ../sass/estilo.scss */
  .barra_nav {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
/* line 228, ../sass/estilo.scss */
.barra_nav img {
  position: relative;
  height: 60%;
  top: 0.5rem;
}

/* line 239, ../sass/estilo.scss */
.menu {
  width: 75%;
  height: 100%;
  float: right;
  display: table;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
/* line 244, ../sass/estilo.scss */
.menu ul {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 991px) {
  /* line 244, ../sass/estilo.scss */
  .menu ul {
    text-align: center;
    vertical-align: inherit;
    display: inherit;
  }
}
/* line 259, ../sass/estilo.scss */
.menu li {
  display: inline-block;
  padding: 5px;
  margin-right: 12px;
  cursor: pointer;
  color: #545454;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 0.6rem;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
/* line 37, ../sass/estilo.scss */
.menu li:visited {
  color: inherit;
}
/* line 40, ../sass/estilo.scss */
.menu li:hover {
  color: #F32A2A;
}
@media screen and (max-width: 991px) {
  /* line 259, ../sass/estilo.scss */
  .menu li {
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
    background-color: #222222;
    color: #a5a5a5;
    border-bottom: 1px solid #a5a5a5;
  }
}
@media screen and (max-width: 991px) {
  /* line 274, ../sass/estilo.scss */
  .menu li:hover {
    background-color: #ffffff;
  }
}
@media screen and (max-width: 991px) {
  /* line 239, ../sass/estilo.scss */
  .menu {
    float: none;
    width: 100%;
    position: fixed;
    left: 0;
    top: 4.1rem;
    height: 0px;
    overflow: hidden;
    display: block;
  }
}

/* line 293, ../sass/estilo.scss */
.btn_menu {
  padding: 10px 12px 10px 12px;
  display: inline-block;
  position: relative;
  float: right;
  top: 15px;
  border-radius: 0.2rem;
  color: #222222;
  cursor: pointer;
}
/* line 302, ../sass/estilo.scss */
.btn_menu span {
  display: inline-block;
  font-size: 1.2rem;
}
/* line 306, ../sass/estilo.scss */
.btn_menu:hover {
  color: #a5a5a5;
}

/*GRAL SECCIONES*/
/* line 312, ../sass/estilo.scss */
.wrapper {
  overflow-y: hidden;
}

/* line 315, ../sass/estilo.scss */
.row_fluida {
  width: 600%;
  position: relative;
  padding: 0;
  margin: 0;
}

/* line 321, ../sass/estilo.scss */
.seccion {
  display: inline-block;
  width: 100vw;
  height: 100vh;
}

/* line 327, ../sass/estilo.scss */
#seccion_1 {
  padding-left: 0;
  padding-right: 0;
  margin-right: 15px;
}

/* line 332, ../sass/estilo.scss */
#seccion_2 {
  background-image: url(../img/anime4.jpg);
  background-size: cover;
  padding-left: 0;
  padding-right: 0;
}

/* line 338, ../sass/estilo.scss */
#seccion_3 {
  padding-left: 0;
  padding-right: 0;
  background-color: #ffffff;
}

/* line 343, ../sass/estilo.scss */
#seccion_4 {
  background-color: skyblue;
  padding-left: 0;
  padding-right: 0;
}

/* line 348, ../sass/estilo.scss */
#seccion_5 {
  background-image: url(../img/anime5.jpg);
  background-size: cover;
  padding-right: 0;
  padding-left: 0;
}

/* line 354, ../sass/estilo.scss */
#seccion_6 {
  background-image: url(../img/anime6.jpg);
  background-size: cover;
  padding-right: 0;
  padding-left: 0;
}

/* line 363, ../sass/estilo.scss */
.dos {
  height: 100vh;
  position: relative;
  max-height: auto;
  overflow: inherit;
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem !important;
  padding-bottom: 5rem !important;
}

/* INICIO */
/* line 374, ../sass/estilo.scss */
.banner {
  padding: 0;
  margin: 0;
}
/* line 376, ../sass/estilo.scss */
.banner img {
  width: 100vw;
  height: 100vh;
}

/* line 383, ../sass/estilo.scss */
#slide_2, #slide_3 {
  display: none;
}

/*BIENVENIDOS UPTIVA*/
/* line 388, ../sass/estilo.scss */
.overlay {
  position: absolute;
  bottom: 5rem;
  left: 2rem;
  z-index: 2;
}

/* line 394, ../sass/estilo.scss */
.overlay_social {
  position: absolute;
  top: 5rem;
  left: 2rem;
  z-index: 2;
  color: #ffffff;
}

/* line 402, ../sass/estilo.scss */
.titulo_1 {
  color: #ffffff;
  text-align: left;
  font-family: 'Orbitron';
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.8rem;
  text-shadow: 2px 1px 0px black;
}

/* line 413, ../sass/estilo.scss */
.titulo_2 {
  color: #ffffff;
  text-align: left;
  font-family: 'Orbitron';
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.6rem;
  text-shadow: 2px 1px 0px black;
}

/*NOSOTROS*/
/* line 426, ../sass/estilo.scss */
.margen {
  margin-top: 20%;
}
@media screen and (max-width: 991px) {
  /* line 426, ../sass/estilo.scss */
  .margen {
    margin-top: 0%;
  }
}

/*SERVICIOS*/
/* line 434, ../sass/estilo.scss */
#seccion_3 {
  height: 150vh;
  max-height: auto;
  overflow: inherit;
  overflow-y: scroll;
}
/* line 439, ../sass/estilo.scss */
#seccion_3 > .apertura {
  height: 200px;
  margin-top: 0rem;
  overflow: hidden;
}
/* line 444, ../sass/estilo.scss */
#seccion_3 span {
  text-align: center;
  display: inline-block;
  width: 100%;
  color: #F32A2A;
  font-family: 'Raleway', sans-serif;
  font-size: 0.55rem;
  font-weight: 500;
  line-height: 1rem;
}

/* line 452, ../sass/estilo.scss */
.cnt_serv {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: yellow;
}

/* line 460, ../sass/estilo.scss */
.cnt_circulo {
  background-color: #F32A2A;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  text-align: center;
  border: 10px solid #ebebeb;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
/* line 470, ../sass/estilo.scss */
.cnt_circulo > img {
  position: relative;
  height: 10%;
  margin-top: 45%;
}

/*EVENTOS*/
/* line 479, ../sass/estilo.scss */
table th {
  color: #222222;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 0.6rem;
  letter-spacing: 1px;
  line-height: 0.9rem;
  text-transform: uppercase;
  border: none !important;
}
/* line 491, ../sass/estilo.scss */
table td {
  color: #4f4f4f;
  font-family: 'Raleway', sans-serif;
  font-size: 0.65rem;
  font-weight: 400;
  line-height: 1rem;
  text-align: justify;
  border: none !important;
}

/* line 504, ../sass/estilo.scss */
.fecha {
  color: #F32A2A;
  font-family: 'Raleway', sans-serif;
  font-size: 0.55rem;
  font-weight: 500;
  line-height: 1rem;
  text-align: justify;
  width: 50%;
}

/* line 510, ../sass/estilo.scss */
.parte_a {
  width: 30%;
}
@media screen and (max-width: 991px) {
  /* line 510, ../sass/estilo.scss */
  .parte_a {
    width: 50%;
  }
}

/* line 516, ../sass/estilo.scss */
.parte_b {
  width: 70%;
}
@media screen and (max-width: 991px) {
  /* line 516, ../sass/estilo.scss */
  .parte_b {
    width: 50%;
  }
}

/*CONTACTOS*/
/* line 524, ../sass/estilo.scss */
.dos span {
  color: #F32A2A;
  font-size: 0.75rem;
  margin-right: 1rem;
}

/* line 530, ../sass/estilo.scss */
.btn_icon {
  background-color: rgba(84, 84, 84, 0.9);
  padding-top: 8px;
  width: 50px;
  text-align: center;
  height: 50px;
  font-size: 24px;
  border-radius: 25px;
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

/* line 545, ../sass/estilo.scss */
#facebook > i, #twitter > i, #instagram > i, #linkedin > i {
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
}
