/*COLORES*/
$rojo_uptiva: #F32A2A;
$titulo_enlaces: #545454;
$texto: #4f4f4f;
$destacado: #222222;
$bg: #a5a5a5;
$bg_light: #ffffff;

/*REM CONTROL*/
html{
  	@media screen and (min-width:992px){/*COL-LG*/
    	font-size: 24px;
  	}
    @media screen and (max-width:991px){/*COL-MD*/
    	font-size: 23px;
  		}
 	@media screen and (max-width:767px){/*COL-SM*/
    	font-size: 22px;
  	}
 	@media screen and (max-width:543px){/*COL-XS*/
    	font-size: 20px;
  	}
}

/*TEXTOS*/
@mixin enlace{
	color: $titulo_enlaces;
	text: {
		transform: uppercase;
		decoration: none;
		}
	font: {
		family: 'Oswald', sans-serif;
		weight: 400;
		size: 0.6rem;
	}
	&:visited {
		color: inherit;
	}
	&:hover {
		color: $rojo_uptiva;
	}
}

h1{
	color: $destacado;
	font: {
		family: 'Roboto', sans-serif;
		weight: 400;
		size: 1rem;
	}
	text-transform: uppercase;
}
h2{
	color: $titulo_enlaces;
	font: {
		family: 'Oswald', sans-serif;
		weight: 400;
		size: 0.6rem;
	}
	letter-spacing: 1px;
	line-height: 0.9rem;
	text-transform: uppercase;
}
h3{
	color: $destacado;
	font: {
		family: 'Roboto', sans-serif;
		weight: 500;
		size: 0.65rem;
	}
	letter-spacing: 1px;
	text-transform: uppercase;
}

p{
	color: $texto;
	font: {
		family: 'Raleway', sans-serif;
		size: 0.62rem;
		weight: 400;
	}
	line-height: 1rem;
}

/*EFECTOS*/
@mixin animar{
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
 }

 @mixin cero{
 	padding: 0;
    margin: 0;
 }
 
 .activo{
 	color: $rojo_uptiva!important;
 }

/*VARIOS*/
body {
  	height: 100%;
	/*overflow: hidden;*/
  	::selection{/*SELECCIONAR*/
    	background-color: $rojo_uptiva;
    	color: $bg_light;
  	}
  	@include cero;
}
html{
	height: 100%;
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

button{
	background-color: $rojo_uptiva;
	color: $bg_light;
	border-radius: 0.2rem;
	border-style: none;
	padding: 0.5rem 1rem 0.5rem 1rem;
    box-shadow: inset 0.2rem 0.2rem 0.4rem rgba(0,0,0,0.1);
	cursor: pointer;
	font: {
		family: 'Carrois Gothic SC', sans-serif;
		size: 0.5rem;
		weight: 400;
	}
	text: {
		align: center;
		transform: uppercase;
		}
	&:hover{
		background-color: $titulo_enlaces;
	}
	@include animar;
}


/*REORDENAR COLUMNAS*/
 @media (max-width: 767px) {
  .row.reorder-xs-sm {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    direction: rtl;
  }
  .row.reorder-xs-sm > [class*="col-"] {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    direction: ltr;
  }
}

/*PERMANENTES*/
.contenedor{
	padding-top: 4rem;
	height: 100%;
}

.llenar{
    height:100%;
    width:100%;
    height:100%;
    min-height:100%;
    color:#efefef;
	overflow: hidden;
}

.barra_nav{
	background-color: rgba( $bg_light, .9);
	height: 4rem;
	width: 100%;
	z-index: 2;
	top: 0;
	position: fixed;
	padding: {
		left: 3.5rem;
		right: 3.5rem;
	}
	 	@media screen and (max-width:766px){
			padding: {
				left: 2rem;
				right: 2rem;
			}
	 	}
		img{
			position: relative;
			height: 60%;
			top: 0.5rem;
		}
	@include animar;
	-webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.18);
	-moz-box-shadow:    0px 2px 4px 0px rgba(0, 0, 0, 0.18);
	box-shadow:         0px 2px 4px 0px rgba(0, 0, 0, 0.18);
}

.menu{
	width: 75%;
	height: 100%;
	float: right;
	display: table;
	ul{
		width: 100%;
		height: 100%;
		display: table-cell;
		vertical-align: middle;
		text-align: right;
		list-style-type: none;
		margin: 0;
		padding: 0;
		@media screen and (max-width:991px){
			text-align: center;
			vertical-align: inherit;
			display: inherit;
		}
	}
	li{
		display: inline-block;
		padding: 5px;
		margin-right: 12px;
		cursor: pointer;
		@include enlace;
		@include animar;
		@media screen and (max-width:991px){
			width: 100%;
			padding-top:0.5rem;
			padding-bottom:0.75rem;
			background-color: $destacado;
			color: $bg;
			border-bottom: 1px solid $bg;
		}
		&:hover{
			@media screen and (max-width:991px){
				background-color: $bg_light;
			}
		}
	}
	@media screen and (max-width:991px){
		float: none;
		width: 100%;
		position: fixed;
		left:0;
		top: 4.1rem;
		height: 0px;
		overflow: hidden;
		display: block;
	}
	@include animar;
}

.btn_menu{
	padding:10px 12px 10px 12px;
	display: inline-block;
	position: relative;
	float: right;
	top: 15px;
	border-radius: 0.2rem;
	color: $destacado;
	cursor: pointer;
	span{
		display: inline-block;
		font-size: 1.2rem;
	}
	&:hover{
		color: $bg;
	}
}

/*GRAL SECCIONES*/
.wrapper{
	overflow: auto;
}
.row_fluida{
	white-space: nowrap;
	width: 600%;
	position: relative;
}
.seccion{
	display: inline-block;
	width: 100vw;
	height: 100vh;
	@include cero;
}

#seccion_1{
	background-color: pink;
}
#seccion_2{
	background-color: orange;
}
#seccion_3{
	background-color: blue;
}
#seccion_4{
	background-color: skyblue;
}
#seccion_5{
	background-color: red;
}
#seccion_6{
	background-color: brown;
}

/* INICIO */
.banner{
	@include cero;
	img {
		width: 100vw;
		height: 100vh;
		@media screen and (max-width:991px){
			width: auto;
		}
	}
}
#slide_2, #slide_3{
	display: none;
}

/*NOSOTROS*/
.uno{
	background-color: red;
}
.dos{
	background-color: brown;
}

.hola{
	
}


